.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 100%;
}
.aktivitetskort {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  background-color: #a74f80;
  border-radius: 1 rem;
  padding: 1.25rem;
  max-width: 100%;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f7d788;
  font-family: sans-serif;
  color: #a74f80;

  border-radius: 1rem;
  max-width: 100%;
}

.aktivitet img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .footer {
    grid-template-columns: 1fr;
  }
}
.img {
  max-width: 100%;
  height: 800px;
  width: 100%;
}
.background-color {
  background-color: #f7d788;
}
